body {
    margin: 0;
}
/* .container {
    width: 100vw;
    height: 100vh;
    background-color: teal;
}
button {
    background-color: green;
}
div, h3 {
    text-align: center;
}
h3 {
    text-decoration: none;
    font-weight: normal;
    font-size: 5rem;  */
    /* absolute = 30px, relative = 20vh, vw, rem, em, % */
/* }
div {
    line-height: 15px;
    text-transform: capitalize;
} */

/* h4 {
    text-align: center;
    text-transform: capitalize;
}
* {
    font-family: 'Times New Roman';
}
#outer {
    font-size: 25px;
}
#inner {
    font-size: 10px;
} */
/* .inner {
    height: 100px;
    width: 100px;
    background-color: green;
    margin: 10px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 15px;
    box-sizing: border-box;
} */
/* div {
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
} */