.chat-messages-container {
  flex-grow: 1;
  margin-top: 20px;
  overflow: scroll;
  scrollbar-width: none;
}
.welcome-msg {
  text-align: center;
  font-size: 20px;
}
.loading {
  height: 40px;
  margin: -15px;
}