body {
    margin: 0;
}
/* .container {
    width: 100vw;
    height: 100vh;
    background-color: teal;
}
button {
    background-color: green;
}
div, h3 {
    text-align: center;
}
h3 {
    text-decoration: none;
    font-weight: normal;
    font-size: 5rem;  */
    /* absolute = 30px, relative = 20vh, vw, rem, em, % */
/* }
div {
    line-height: 15px;
    text-transform: capitalize;
} */

/* h4 {
    text-align: center;
    text-transform: capitalize;
}
* {
    font-family: 'Times New Roman';
}
#outer {
    font-size: 25px;
}
#inner {
    font-size: 10px;
} */
/* .inner {
    height: 100px;
    width: 100px;
    background-color: green;
    margin: 10px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 15px;
    box-sizing: border-box;
} */
/* div {
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
} */

#garden {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
    grid-template-rows: repeat(5, 1fr); /* repeat(1, 2fr) repeat(3, 1fr); */
    /* grid-template: 1fr 2fr 3fr 2fr 1fr / repeat(5, 1fr); */
}
#water {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    /* grid-column: 2 / 5 (start / end);
    grid-row: 1 / 3 (start / end);
    grid-area: 1 / 2 / 3 / 5 (row_start / col_start / row_end / column_end); */

}