<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Core2</title>
    <style>
        body {
            margin: 0;
        }
        #container {
            display: flex;
        }
        #left {
            height: 100vh;
            background-color: green;
            width: 300px;
        }
        #right2 {
            height: 100vh;
            background-color: yellow;
            width: 100%;
        }
    </style>
</head>
<body>
    <div id="container">
        <div id="left">Div1</div>
        <div id="right2">Div2</div>
    </div>
</body>
</html>